body{
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    height: 100vh;
}
.success-message{
    color: #008000;
}
.login-form-content{
    width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
}
.user-data{
    font-size: 20px;
    font-weight: 600;
}
.login-btn{
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    color: #fff;
    border-width: 0px;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}